<div id="followus">
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_32x32_style addthis_default_style">
	<a class="addthis_button_facebook_follow" addthis:userid="vanilladesk"></a>
	<a class="addthis_button_twitter_follow" addthis:userid="vanilladesk"></a>
	<!--not working <a class="addthis_button_linkedin_follow" addthis:userid="vanilladesk"></a>-->
	<a class="addthis_button_google_follow" addthis:userid="111830430409247181186"></a>
	</div>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fa26b8d16f6825a"></script>
	<!-- AddThis Button END -->
</div>