<div id="followus">
	<!-- AddThis Follow BEGIN -->
	<div class="addthis_toolbox addthis_32x32_style addthis_default_style">
		<a class="addthis_button_facebook_follow" addthis:userid="vanilladesk"></a>
		<a class="addthis_button_google_follow" addthis:url="https://plus.google.com/u/0/111830430409247181186/posts"></a>
		<a class="addthis_button_youtube_follow" addthis:userid="VanillaDeskSD"></a>
		<a class="addthis_button_twitter_follow" addthis:userid="vanilladesk"></a>
		<a class="addthis_button_linkedin_follow" addthis:url="http://www.linkedin.com/company/vanilladesk"></a>

	</div>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-50489f93378114d2"></script>
	<!-- AddThis Follow END -->
</div>
