<title>{{page.title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content=" VanillaDesk is integrated Service Desk software for effective IT Service Management provided as a service (SaaS).">
<meta name="keywords" content=" service desk software, itil service desk">
<link rel="alternate" type="application/rss+xml" title="Vanilladesk Blog RSS" href="http://www.vanilladesk.com/rss.ashx?c=150745">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
<link href="/css/screen.css" type="text/css" rel="stylesheet">
<link href="/css/menu.css" type="text/css" rel="stylesheet">
<link href="/css/print.css" type="text/css" rel="stylesheet">
<link href="/css/fb.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
  {% include ga.js %}; 
{% include vanilladesk.js %} 
</script>


