<div class="menu">
  <div class="AspNet-Menu-Horizontal">
    <ul class="AspNet-Menu">
      <li class="AspNet-Menu-Leaf home">

        <a id="menu_ctl00_h" title="Home" href="/"><span>Home</span></a>

      </li>
      <li class="AspNet-Menu-Leaf features">

        <a id="menu_ctl01_h" title="VanillaDesk" href="/service-desk-software.htm"><span>Features</span></a>

      </li>
      <li class="AspNet-Menu-Leaf pricing">

        <a id="menu_ctl02_h" title="Pricing" href="/service-desk-software-pricing.htm"><span>Pricing</span></a>

      </li>
      <li class="AspNet-Menu-Leaf screenshots">

        <a id="menu_ctl03_h" title="Galery" href="/gallery.htm"><span>Screenshots</span></a>

      </li>
      <li class="AspNet-Menu-Leaf news">

        <a id="menu_ctl04_h" title="News/Events" href="/news.htm"><span>News</span></a>

      </li>
      <li class="AspNet-Menu-Leaf support faq">

        <a id="menu_ctl05_h" title="Support" href="/service-desk-software-support.htm"><span>Support</span></a>

      </li>
    </ul>

  </div>
</div>
