<h6>Site map
</h6>

<div class="footmap">
  <div class="AspNet-Menu-Horizontal">
    <ul class="AspNet-Menu">
      <li class="AspNet-Menu-Leaf-Selected">
        <a href="/home.htm" class="AspNet-Menu-Link" title="Home">
          Home
        </a>
      </li>
      <li class="AspNet-Menu-WithChildren">
        <a href="/service-desk-software.htm" class="AspNet-Menu-Link" title="VanillaDesk">
          Features
        </a>
        <ul>
          <li class="AspNet-Menu-Leaf">
            <a href="/service-desk-software.htm" class="AspNet-Menu-Link">
              Feature summary
            </a>
          </li>
          <li class="AspNet-Menu-Leaf">
            <a href="/demo.htm" class="AspNet-Menu-Link">
              Demo
            </a>
          </li>
          <li class="AspNet-Menu-Leaf">
            <a href="/trial.htm" class="AspNet-Menu-Link">
              Trial
            </a>
          </li>
          <li class="AspNet-Menu-Leaf">
            <a href="/free-service-desk-software.htm" class="AspNet-Menu-Link">
              Free Edition
            </a>
          </li>
        </ul>
      </li>
      <li class="AspNet-Menu-WithChildren">
        <a href="/service-desk-software-pricing.htm" class="AspNet-Menu-Link" title="Pricing">
          Pricing
        </a>
        <ul>
          <li class="AspNet-Menu-Leaf">
            <a href="/service-desk-software-pricing.htm" class="AspNet-Menu-Link" title="Overview">
              Overview
            </a>
          </li>
        </ul>
      </li>
      <li class="AspNet-Menu-WithChildren">
        <a href="/gallery.htm" class="AspNet-Menu-Link" title="Galery">
          Screenshots
        </a>
        <ul>
          <li class="AspNet-Menu-Leaf">
            <a href="/gallery.htm" class="AspNet-Menu-Link" title="Screenshots">
              Screenshots
            </a>
          </li>
        </ul>
      </li>
      <li class="AspNet-Menu-Leaf">
        <a href="/news.htm" class="AspNet-Menu-Link" title="News/Events">
          News
        </a>
      </li>
      <li class="AspNet-Menu-WithChildren">
        <a href="/service-desk-software-support.htm" class="AspNet-Menu-Link" title="Support">
          Support
        </a>
        <ul>
          <li class="AspNet-Menu-Leaf">
            <a href="/service-desk-software-support.htm" class="AspNet-Menu-Link" title="Customer Support">
              Customer Support
            </a>
          </li>
          <li class="AspNet-Menu-Leaf">
            <a href="/faq.htm" class="AspNet-Menu-Link" title="FAQ">
              FAQ
            </a>
          </li>
        </ul>
      </li>
    </ul>

  </div>
</div>
