<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    {% include head.html %}  
  </head>

  <body class="{{page.page_id}}">

    <a href="#start" class="hidden">Skip to page content</a>
    <div id="{{page.page_id}}">
      <div id="container" class="home">

        <div id="header">
          {% include header.html %} 
        </div>

        <div id="menu">
          {% include menu.html %} 
        </div>

        <a name="start"></a>
        <div id="body">
          <div id="page-title">
            <h1>
              News</h1>
          </div>
          <div id="submenu">

            <div class="submenu">
              <div class="AspNet-Menu-Horizontal">

              </div>
            </div>
          </div>
          <div id="page-news">
            {{ content }}
          </div>


        </div>
      </div>


      <div id="footer-cont">
        <div id="footer">
          <div id="footermenu">
            {% include sitemap.html %} 

          </div>
          <div id="bottom">
            {% include footer.html %}  
          </div>
        </div>
      </div>
    </div>


  </body>
</html>

